@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 50% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 255 60% 96%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 250 60% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 20% 92%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 250 20% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 250 70% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 20% 88%;
    --input: 250 20% 88%;
    --ring: 250 60% 60%;
    --chart-1: 250 60% 60%;
    --chart-2: 280 65% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 250 60% 70%;
    --primary-foreground: 250 60% 10%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 250 70% 60%;
    --accent-foreground: 250 70% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 250 60% 70%;
    --chart-1: 250 60% 70%;
    --chart-2: 280 65% 75%;
    --chart-3: 173 58% 59%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
